<div class="config-container">
  <h2>Feature Toggles</h2>
  <form (ngSubmit)="onSubmit()">
    <div *ngFor="let section of configSections">
      <h3>{{ section.label }}</h3> <!-- Display the section label here -->
      <div *ngFor="let option of section.options">
        <label *ngIf="section.name !== 'timePeriodOptions'">
          <input type="checkbox" [(ngModel)]="checkboxes[option.value].checked" name="{{ option.value }}"
                 (change)="updateValidation()">
          {{ option.label }}
        </label>
        <label *ngIf="section.name === 'timePeriodOptions'">
          <input type="radio" [(ngModel)]="selectedTimePeriod" [value]="option.value" name="timePeriod"
                 (change)="updateValidation()">
          {{ option.label }}
        </label>
      </div>
    </div>
    <div class="button-group">
      <button type="submit" class="btn btn-primary custom-btn" [disabled]="!isValid">Save and Go to Dashboard</button>
      <button type="button" class="btn btn-secondary" (click)="resetAllSettings()">Reset All Settings</button>
    </div>
  </form>
  <div class="validation-message" *ngIf="validationMessage">{{ validationMessage }}</div>
</div>
