<div class="dashboard-container">
  <header class="dashboard-header">
  <h2>Dashboard</h2>
  </header>
  <!--<div *ngIf="checkedCheckboxes.length > 0">
    <h3>Checked Checkboxes:</h3>
    <ul>
      <li *ngFor="let checkbox of checkedCheckboxes">
        {{ checkbox.label }} - {{ checkbox.value }}
      </li>
    </ul>
  </div>-->
 <!--<div *ngIf="checkedCheckboxes.length === 0">
    <p>No checkboxes selected. Please go to the Settings panel and select the desired configuration.</p>
  </div>
  <button (click)="navigateToConfig()">Set Configuration</button>
-->

  <div class="default-view" *ngIf="defaultView === 'dashboard'">
    <p>No checkboxes selected. Please go to the Settings panel and select the desired configuration.</p>
  </div>
  <button class="btn btn-dashboard" (click)="navigateToConfig()">Set Configuration</button>

 <!-- <div class="feature-toggles">
    <label><input type="checkbox" (change)="toggleFeature('drillDown', $event)"> Drill-Down</label>
    <label><input type="checkbox" (change)="toggleFeature('zoom', $event)"> Zoom</label>
    <label><input type="checkbox" (change)="toggleFeature('filters', $event)"> Filters</label>
    <label><input type="checkbox" (change)="toggleFeature('windowSelection', $event)"> Window Selection</label>
  </div>-->

  <app-time-period *ngFor="let option of checkedCheckboxes"
                   [timePeriod]="option.value">
  </app-time-period>

  <div class="plotly-container" [ngClass]="{
    'one-graph': checkedCheckboxes.length === 1,
    'two-graphs': checkedCheckboxes.length === 2,
    'three-graphs': checkedCheckboxes.length === 3
  }">
   <!-- <app-time-period *ngIf="isSelected('last_three_days') && isSelected('sum')"  [operation]="'sum'" [timePeriod]="'last_three_days'"></app-time-period>
    <app-time-period *ngIf="isSelected('last_three_days') && isSelected('average')"  [operation]="'average'" [timePeriod]="'last_three_days'"></app-time-period>
    <app-time-period *ngIf="isSelected('last_three_days') && isSelected('standard_deviation')" [operation]="'standard_deviation'" [timePeriod]="'last_three_days'"></app-time-period>

    <app-time-period *ngIf="isSelected('first_three_days') && isSelected('sum')"  [operation]="'sum'" [timePeriod]="'first_three_days'"></app-time-period>
    <app-time-period *ngIf="isSelected('first_three_days') && isSelected('average')"  [operation]="'average'" [timePeriod]="'first_three_days'"></app-time-period>
    <app-time-period *ngIf="isSelected('first_three_days') && isSelected('standard_deviation')"  [operation]="'standard_deviation'" [timePeriod]="'first_three_days'"></app-time-period>

    <app-time-period *ngIf="isSelected('last_week') && isSelected('sum')"  [operation]="'sum'" [timePeriod]="'last_week'"></app-time-period>
    <app-time-period *ngIf="isSelected('last_week') && isSelected('average')"  [operation]="'average'" [timePeriod]="'last_week'"></app-time-period>
    <app-time-period *ngIf="isSelected('last_week') && isSelected('standard_deviation')"  [operation]="'standard_deviation'" [timePeriod]="'last_week'"></app-time-period>
-->
    <ng-container *ngIf="timePeriods$ | async as timePeriods">
      <ng-container *ngIf="operations$ | async as operations">
        <ng-container *ngFor="let timePeriod of timePeriods">
          <ng-container *ngFor="let operation of operations">
            <app-time-period
              *ngIf="isSelected(timePeriod) && isSelected(operation)"
              [operation]="operation"
              [timePeriod]="timePeriod">
            </app-time-period>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>


  <!--  <app-comparison *ngIf="comparisonEnabled" [timePeriod1]="selectedTimePeriod1" [timePeriod2]="selectedTimePeriod2" [operation]="selectedOperation"></app-comparison> -->
  </div>
</div>
