<div class="dashboard-container">
  <header class="dashboard-header">
  <h2>Dashboard</h2>
  </header>

  <div *ngIf="checkedCheckboxes.length === 0">
     <p>No checkboxes selected. Please go to the Settings panel and select the desired configuration.</p>
   </div>
   <button class="btn btn-dashboard" (click)="navigateToConfig()">Set Configuration</button>




  <div class="plotly-container" [ngClass]="{
    'one-graph': checkedCheckboxes.length === 1,
    'two-graphs': checkedCheckboxes.length === 2,
    'three-graphs': checkedCheckboxes.length === 3
  }">


    <app-time-period  *ngIf="isSelected('sum') && selectedTimePeriod"
      [operation]="'sum'" [timePeriod]="selectedTimePeriod"></app-time-period>


    <app-time-period *ngIf="isSelected('average') && selectedTimePeriod"
       [operation]="'average'" [timePeriod]="selectedTimePeriod"></app-time-period>

    <app-time-period *ngIf="isSelected('sd') && selectedTimePeriod"
                     [operation]="'sd'" [timePeriod]="selectedTimePeriod"></app-time-period>


</div>
</div>
