<div>
  <h2>Dashboard</h2>

  <div *ngIf="checkedCheckboxes.length > 0">
    <h3>Checked Checkboxes:</h3>
    <ul>
      <li *ngFor="let checkbox of checkedCheckboxes">
        {{ checkbox.label }} - {{ checkbox.value }}
      </li>
    </ul>
  </div>

  <div *ngIf="checkedCheckboxes.length === 0">
    <p>No checkboxes selected.</p>
  </div>

  <div *ngIf="isValidSelection()" class="time-period-container">
    <app-time-period *ngFor="let option of checkedCheckboxes"
                     [timePeriod]="option.value">
    </app-time-period>

    <app-time-period *ngIf="isSelected('last_three_days') && isSelected('sum')" [operation]="'sum'" [timePeriod]="'lastThreeDays'"></app-time-period>
    <app-time-period *ngIf="isSelected('last_three_days') && isSelected('average')" [operation]="'average'" [timePeriod]="'lastThreeDays'"></app-time-period>
    <app-time-period *ngIf="isSelected('last_three_days') && isSelected('standard_deviation')" [operation]="'standard_deviation'" [timePeriod]="'lastThreeDays'"></app-time-period>

    <app-time-period *ngIf="isSelected('first_three_days') && isSelected('sum')" [operation]="'sum'" [timePeriod]="'firstThreeDays'"></app-time-period>
    <app-time-period *ngIf="isSelected('first_three_days') && isSelected('average')" [operation]="'average'" [timePeriod]="'firstThreeDays'"></app-time-period>
    <app-time-period *ngIf="isSelected('first_three_days') && isSelected('standard_deviation')" [operation]="'standard_deviation'" [timePeriod]="'firstThreeDays'"></app-time-period>

    <app-time-period *ngIf="isSelected('last_seven_days') && isSelected('sum')" [operation]="'sum'" [timePeriod]="'lastWeek'"></app-time-period>
    <app-time-period *ngIf="isSelected('last_seven_days') && isSelected('average')" [operation]="'average'" [timePeriod]="'lastWeek'"></app-time-period>
    <app-time-period *ngIf="isSelected('last_seven_days') && isSelected('standard_deviation')" [operation]="'standard_deviation'" [timePeriod]="'lastWeek'"></app-time-period>

  </div>

  <button (click)="navigateToConfig()">Go Back to Config View</button>
</div>
